<!-- Forms reference: https://angular.io/guide/forms-overview -->

<!--
  Read Reactive forms VS Template-Driven forms - https://angular.io/guide/forms-overview#choosing-an-approach
  Simple differences:
    Reactive forms: More Robust, Testable, Scalable, and Reusable this makes them also More Complex => Usually with complex forms
    Template-Driven forms: Simple, Not Scalable, and hard to test => Usually with simple forms (e.g. News letter signup)
-->

<!-- v16 Feature self-closing tags like React components -->
<router-outlet />
