.item {
  display: grid;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}

.item--img {
  margin: 0 auto;
  max-height: 8rem;
  width: 8rem;
  object-fit: contain;
}

.item--name {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.item--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.item--box:not(:last-child) {
  margin-bottom: 1rem;
}

.item--btn {
  display: block;
  width: fit-content;
  margin-left: auto;
}

@media (min-width: 640px) {
  .item {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .item--img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .item--box {
    justify-content: flex-start;
  }
}
