<div class="star-container" #starsContainer></div>

<!--
  <div class="star-container" #starsContainer>
    <div class="star">
      <span class="empty">☆</span>
      <span class="filled">★</span>
    </div>
    <div class="star">
      <span class="empty">☆</span>
      <span class="filled">★</span>
    </div>
    <div class="star">
      <span class="empty">☆</span>
      <span class="filled">★</span>
    </div>
    <div class="star">
      <span class="empty">☆</span>
      <span class="filled">★</span>
    </div>
    <div class="star">
      <span class="empty">☆</span>
      <span class="filled">★</span>
    </div>
  </div>
-->
