<!--
  # Angular provide some classes to style forms based on form state like: ng-untouched ng-pristine ng-valid

  # By importing FormsModule Angular has control of forms using ngForm on each form template in the application

  # (#form='ngForm' + (ngModel on every element in the form) ==> form.value) works if you don't want to populate the form with values.
    Here user settings form, usually we have user info that we want to populate the form with. in this case we want to use predefined model in component class
    with [(ngModel)] to way data binding to populate and update user settings model and keep the view and the model in sync
 -->

<div class="container">
  <h2>User Settings</h2>
  <!-- Angular with FormsModule disabled Browser native validation by default, to enable them use ngNativeValidate directive -->
  <form
    class="d-flex flex-column gap-2 fw-medium"
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
  >
    <!-- #form="ngForm" -->
    <!-- By setting form variable `#form="ngForm"` now we have access to form object -->

    <!-- [ngModel] help in building form.value object and provide a property for each element in the form -->
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        required
        [disabled]="loading"
        minlength="5"
        maxlength="50"
        (blur)="onBlur(name)"
        [(ngModel)]="userSettings.name"
        #name="ngModel"
        class="form-control"
        placeholder="You name"
      />
      <!--
        class="form-control border {{
          name.dirty || name.touched
            ? name.invalid
              ? 'border-danger'
              : 'border-success'
            : ''
        }}"
       -->

      <!--
        See Angular validation CSS classes & validation properties: https://angular.io/guide/form-validation
        There are many ways to show and give the user hints about the errors all of them leverage validation classes and properties.
      -->
      <div
        class="text-danger"
        style="font-size: 0.75rem"
        [hidden]="name.valid || (name.untouched && !form.submitted)"
        role="alert"
      >
        <ng-container *ngIf="name.errors?.['required']"
          >Name fields is required</ng-container
        >
        <ng-container *ngIf="name.errors?.['minlength']">
          Name fields must be more than 5 characters
        </ng-container>
        <ng-container *ngIf="name.errors?.['maxlength']">
          Name fields cannot be more than 50 characters
        </ng-container>
      </div>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        [disabled]="loading"
        type="checkbox"
        [(ngModel)]="userSettings.emailOffer"
        name="emailOffer"
        id="emailOffer"
      />
      <label class="form-check-label" for="emailOffer">
        Receive Updates on Email
      </label>
    </div>

    <ng-container *ngIf="true">
      <div>
        <p class="mb-1">Prefer Theme:</p>
        <div
          class="btn-group mt-0"
          btnRadioGroup
          name="theme"
          [(ngModel)]="userSettings.theme"
        >
          <label btnRadio="light" class="btn btn-primary">Light</label>
          <label btnRadio="dark" class="btn btn-primary">Dark</label>
          <label btnRadio="system" class="btn btn-primary">System</label>
        </div>
        {{ userSettings.theme }}
      </div>
      <div>
        <label for="country">Country</label>
        <select
          class="form-select"
          [disabled]="loading"
          id="country"
          name="country"
          aria-label="Country"
          [(ngModel)]="userSettings.country"
        >
          <option selected>Choose your country</option>
          <option *ngFor="let country of countries$ | async" [value]="country">
            {{ country | titlecase }}
          </option>
        </select>
      </div>

      <div>
        <label for="notes">Notes</label>
        <textarea
          class="form-control"
          [disabled]="loading"
          name="notes"
          id="notes"
          cols="30"
          rows="3"
          [(ngModel)]="userSettings.notes"
        ></textarea>
      </div>
    </ng-container>
    <div class="d-flex align-items-center gap-2">
      <button
        type="button"
        class="btn btn-primary"
        name="notifications"
        [(ngModel)]="notifications"
        btnCheckbox
      >
        {{ notifications ? "Enable" : "Disable" }} Notifications
      </button>
    </div>

    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <label for="notes">Birthday</label>
      <input
        type="text"
        placeholder="Birthday"
        class="form-control"
        name="birthday"
        [(ngModel)]="userSettings.birthday"
        bsDatepicker
        [bsConfig]="{ adaptivePosition: true }"
      />
    </div>

    <button [disabled]="loading" class="btn btn-primary fw-medium">
      {{ loading ? "Sending..." : "Send" }}
    </button>
    <p
      *ngIf="(form.submitted && form.invalid) || submitErrorMessage"
      class="text-danger text-center"
    >
      {{
        submitErrorMessage
          ? submitErrorMessage
          : "Some fields have invalid values"
      }}
    </p>
  </form>
</div>
